## INTRODUCTION
`file_path` is a csv file, each line of that file contains:

 'file', 'camera', 'frame', 'id', 'class', 'x1', 'y1', 'x2', 'y2'
 
 ### Note: 
Currently, only results for odd-numbered frames are stored in the csv file. Hence, if you want to get localization results for frame 820, just use frame number 821 instead to get the results.

In [ ]:
import numpy as np
import pandas as pd

We can use `pandas` framework to work with the data.

In [2]:
file_path = "/home/ash/Desktop/info.csv"

In [3]:
df = pd.read_csv(file_path, sep=',', header=None, names=['file', 'camera', 'frame', 'id', 
                                                         'class', 'x1', 'y1', 'x2', 'y2'], index_col=None)

In [4]:
df.head()

   file camera  frame  id  class   x1   y1   x2   y2
0  exp2  cam09    823   1  items  337  179  420  275
1  exp2  cam09    823   2  items  346  218  411  257
2  exp2  cam09    825   1  items  337  180  421  277
3  exp2  cam09    825   2  items  346  218  411  257
4  exp2  cam09    827   1  items  339  173  423  270

In [6]:
# get all info for camera 9
df_cam9 = df[df['camera'] == 'cam09']

# get all info for camera 9
df_cam11 = df[df['camera'] == 'cam11']

We can get localization results for a particular frame number

In [15]:
# get info for frame 823
info = df_cam9[df_cam9['frame'] == 823]
print(info)

   file camera  frame  id  class   x1   y1   x2   y2
0  exp2  cam09    823   1  items  337  179  420  275
1  exp2  cam09    823   2  items  346  218  411  257